<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="footer" id="contacts" th:fragment="static">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="footer-contact">
                    <h3>Our Contacts</h3>
                    <div class="contact-info">
                        <div>
                            <i class="fa fa-fort-awesome"></i>
                            <p> Kewangdianzi Ltd.</p>
                        </div>
                        <div>
                            <i class="fa fa-phone-square"></i>
                            <p>+1 6263819039</p>
                        </div>
                        <div>
                            <i class="fa fa-envelope"></i>
                            <p>
                                <a href="mailto:myemail@example.com">expert_led@hotmail.com</a></p>
                        </div>
                    </div>
                    <!--	<div class="subscribe">
                            <form>
                                <div class="form-group">
                                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-outline btn-lg" type="submit">Subscribe</button>
                                </div>
                                <div class="clear-fix"></div>
                            </form>
                        </div>	-->
                </div>
            </div>
            <!--  <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="footer-gallery">
                      <h3>Our Recent Pics</h3>
                      <div class="footer-pics">
                          <a class="example-image-link" href="img/footer-pic1.jpg" data-lightbox="example-set"
                             data-title="Mechanized"><img class="example-image" src="img/footer-pic1.jpg" alt=""/></a>
                          <a class="example-image-link" href="img/footer-pic2.jpg" data-lightbox="example-set"
                             data-title="Mechanized"><img class="example-image" src="img/footer-pic2.jpg" alt=""/></a>
                          <a class="example-image-link" href="img/footer-pic3.jpg" data-lightbox="example-set"
                             data-title="Mechanized"><img class="example-image" src="img/footer-pic3.jpg" alt=""/></a>
                          <a class="example-image-link" href="img/footer-pic4.jpg" data-lightbox="example-set"
                             data-title="Mechanized"><img class="example-image" src="img/footer-pic4.jpg" alt=""/></a>
                          <a class="example-image-link" href="img/footer-pic5.jpg" data-lightbox="example-set"
                             data-title="Mechanized"><img class="example-image" src="img/footer-pic5.jpg" alt=""/></a>
                          <a class="example-image-link" href="img/footer-pic6.jpg" data-lightbox="example-set"
                             data-title="Mechanized"><img class="example-image" src="img/footer-pic6.jpg" alt=""/></a>
                          <a class="example-image-link" href="img/footer-pic7.jpg" data-lightbox="example-set"
                             data-title="Mechanized"><img class="example-image" src="img/footer-pic7.jpg" alt=""/></a>
                          <a class="example-image-link" href="img/footer-pic8.jpg" data-lightbox="example-set"
                             data-title="Mechanized"><img class="example-image" src="img/footer-pic8.jpg" alt=""/></a>
                          <a class="example-image-link" href="img/footer-pic9.jpg" data-lightbox="example-set"
                             data-title="Mechanized"><img class="example-image" src="img/footer-pic9.jpg" alt=""/></a>
                      </div>
                  </div>
              </div>-->
            <!--
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="footer-news">
                                <h3>Upcoming Events</h3>
                                <div class="footer-events">
                                    <div>
                                        <div class="news-info">
                                            <h4>Lorem Ipsum</h4>
                                            <p>3 Days Event, Starting from March 29</p>
                                        </div>
                                        <a class="example-image-link" href="img/footer-img1.jpg" data-lightbox="example-set" data-title="Mechanized"><img class="example-image" src="img/footer-img1.jpg" alt="" class="img-responsive"/></a>
                                    </div>
                                    <div>
                                        <div class="news-info">
                                            <h4>Lorem Ipsum</h4>
                                            <p>5 Days Event, Starting from July 4</p>
                                        </div>
                                        <a class="example-image-link" href="img/footer-img2.jpg" data-lightbox="example-set" data-title="Mechanized"><img class="example-image" src="img/footer-img2.jpg" alt="" class="img-responsive"/></a>
                                    </div>
                                    <div>
                                        <div class="news-info">
                                            <h4>Lorem Ipsum</h4>
                                            <p>3 Days Event, Starting from March 29</p>
                                        </div>
                                        <a class="example-image-link" href="img/footer-img3.jpg" data-lightbox="example-set" data-title="Mechanized"><img class="example-image" src="img/footer-img3.jpg" alt="" class="img-responsive"/></a>
                                    </div>
                                    <div>
                                        <div class="news-info">
                                            <h4>Lorem Ipsum</h4>
                                            <p>3 Days Event, Starting from March 29</p>
                                        </div>
                                        <a class="example-image-link" href="img/footer-img4.jpg" data-lightbox="example-set" data-title="Mechanized"><img class="example-image" src="img/footer-img4.jpg" alt="" class="img-responsive"/></a>
                                    </div>
                                </div>
                            </div>
                        </div>
            -->
            <!--
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="footer-about">
                                <h3>About Us</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                    of type and scrambled it to make a type specimen book.</p>
                                &lt;!&ndash;<a href="#about">Read More</a>&ndash;&gt;
                            </div>
                            &lt;!&ndash;<div class="footer-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>&ndash;&gt;
                        </div>
            -->
        </div>
        <hr>
        <div class="copyright">
            <!-- <p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/"
                                                                                         target="_blank" title="模板之家">模板之家</a>
                 - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>-->
        </div>
    </div>
</section>
</body>
</html>